streamlit
numpy
pandas
seaborn
plotly_express
GridOptionsBuilder, AgGrid, GridUpdateMode, DataReturnMode
matplotlib.pyplot 
requests
os 
streamlit.components.v1
unicodedata
plotly.graph_objects
streamlit_lottie
Image
webbrowser
matplotlib.pyplot