import streamlit as st
import numpy as np
import pandas as pd
import seaborn as sns
import plotly_express as px
from st_aggrid import GridOptionsBuilder, AgGrid, GridUpdateMode, DataReturnMode
import matplotlib.pyplot as plt
import requests
import os 
import streamlit.components.v1 as components
from unicodedata import name
import plotly.graph_objects as go
from streamlit_lottie import st_lottie
from streamlit_lottie import st_lottie_spinner
from PIL import Image
# mapas interactivos
import folium
from folium.plugins import FastMarkerCluster
import geopandas as gpd
from branca.colormap import LinearColormap
import webbrowser
import matplotlib.pyplot as plt